.card {
    background-color: #7490AA;
    width: 50%;
    height: 60%;
    position: absolute;
    border-radius: 50px;
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
    transform: scale(0.9); /* Slightly smaller for a "pop-in" effect */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.visible {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Allow interaction */
    transform: scale(1); /* Back to full size */
    transition-delay: 0.5s;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 24px 24px;
    align-items: center;
    
    .headerContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 24px 24px;
        align-items: center;

        .header{
            color: white;
            font-weight: 300;
            font-size: 48px;
        }
        .closeIcon{
            width: 36px;
            height: 36px;
        }
    }

    
    .paragraph{
        padding: 24px 24px;
        color: white;
        font-weight: 100;
        font-size: 24px;
    }
}
