.navbar{
    width: 100%;
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        justify-content: space-evenly;
        gap: 48px;
        width: 30%;
    }
    
    .item{
        font-weight: 100;
        font-size: 32px;
        color:white    
    }
}