.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    opacity: 1; /* Fully visible by default */
    // transition-delay: 0.5s;

    .container{
        display: flex;
        justify-content: space-evenly;
        gap: 48px;
        width: 30%;
    }
    
    .item{
        font-weight: 100;
        font-size: 32px;
        color:white    
    }
}

.fadeOut {
    opacity: 0; /* Fade out */
    pointer-events: none; /* Disable interactions while fading out */
}

